/*-----------------
* [Master Stylesheet]
*
* Theme    : WillyWonka
* Version  : 1.0
* Author   : sujal
* 
------------------*/
::-webkit-scrollbar{
    width: 4px;
    color:#B07346;
}
::-webkit-scrollbar-thumb {
    background: #B07346; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: #B07346;
  }
  .color{
      color: #B07346;
  }
  #about-content a{
      color:#B07346 ;
  }
  .cv a button{
      background: #B07346;
  }
  .service-img img{
    background: #B07346;
    box-shadow:0px 0px 0px 0px #B07346 ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #B07346 ;
}
.html-progress{
    background: #B07346;
}
.js-progress{
    background: #B07346;
}
.adobe-progress{
    background: #B07346;
}
.php-progress{
    background: #B07346;
}
.jquery-progress{
    background: #B07346;
}
.seo-progress{
    background: #B07346;
}
.portfolio-text h2{
    color: #B07346;
}
.portfolio-text button{
    color: #B07346;
    border: 1.5px solid #B07346;
}
.portfolio-text button::before{
    background: #B07346;
}
.portfolio-image img::before{
    background: #B07346;
}
.blog-date{
    background: #B07346;
}
form button{
    background: #B07346;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #B07346 ;
    }
}
